// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

@import "../abstracts/variables.scss";

abbr[title] {
  border: 0;
  cursor: help;
}

::selection {
  color: white;
  background: $selection-color; /* WebKit/Blink Browsers */
}

::-moz-selection {
  color: white;
  background: $selection-color; /* Gecko Browsers */
}

a.team-name {
  color: #333;

  &:hover {
    text-decoration: underline;
  }
}