// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@import "../abstracts/variables.scss";

//@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  //font-family: 'Open Sans', sans-serif !important;
}

abbr[title] {
  border: 0;
  cursor: help;
}

::selection {
  color: white;
  background: $selection-color; /* WebKit/Blink Browsers */
}

::-moz-selection {
  color: white;
  background: $selection-color; /* Gecko Browsers */
}
