// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.text-center {
  text-align: center !important;
}

.text-bold {
  font-weight: bold !important;
}

.d-none {
  display: none !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

@media only screen and (max-width: 767px) {
  .d-sm-none {
    display: none !important;
  }

  .d-sm-block {
    display: block !important;
  }
}

@media only screen and (max-width: 991px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-block {
    display: block !important;
  }
}