// -----------------------------------------------------------------------------
// This file contains all styles related to dropdown component.
// -----------------------------------------------------------------------------

@import "../abstracts/variables";

.pl-dropdown {
  .ui.selection.dropdown {
    min-height: 1em;
    padding: .6em 2.1em .6em .8em;
    border-radius: 3px;
  }

  .ui.selection.dropdown > .dropdown.icon {
    padding: 0.7em;
  }

  .ui.selection.active.dropdown,
  .ui.selection.dropdown:focus,
  .ui.selection.active.dropdown .menu,
  .ui.selection.active.dropdown:hover {
    border-color: $highlight-color-lighter;
  }

  .ui.dropdown .menu .selected.item {
    color: $highlight-color;
  }

  .ui.dropdown .menu > .item:hover {
    color: $highlight-color;
    background: rgba(0, 0, 0, .03);
  }

}

.ui.form .field.pl-dropdown > label {
  color: #555;
  font-size: .8em;
  text-transform: uppercase;
}
