// -----------------------------------------------------------------------------
// This file contains all styles related to fixture component.
// -----------------------------------------------------------------------------

.pl-fixture {
  padding: 5px 0;

  &__teams {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__team {
    font-weight: 400;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 100%;

    &--left {
      text-align: right;
    }
  }

  &__score {
    margin: 0;
    background: #38003c;
    font-size: 15px;
    color: #fff;
    width: 60px;
    display: inline-block;
    padding: 4px 2px;
    text-align: center;
    height: 30px;
    line-height: 22px;
    border-radius: 3px;
    flex: 0 0 60px;
  }

  &__score-dash {
    padding: 0 .5em;
    font-weight: 400;
    vertical-align: initial;
  }

  &--small {
    padding: 0 8px 0 0;
  }

  &--small &__team {
    font-size: 13px;
    font-weight: bold;
    overflow: unset;
    text-overflow: unset;
    flex: 1 1 auto;
  }

  &--small &__score {
    margin: 0;
    width: 50px;
    height: 25px;
    line-height: 18px;
    font-size: 13px;
  }

}
