// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

@import "../abstracts/variables";

.pl-header-container {
  background-color: $primary-color;
  padding: 30px 0;
}

.pl-header {
  display: flex !important;
  align-items: center;
}

.pl-logo {
  margin-right: 30px;
}

.pl-header-menu {
  margin: 0 0 0 auto !important;
}

.ui.secondary.pointing.menu .item.pl-menu-item {
  margin: 0 0 -3px;
  border-bottom-width: 3px;
  align-self: center;
}

.ui.secondary.inverted.pointing.menu .active.pl-menu-item {
  border-color: $highlight-color !important;
}
