// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

@import "../abstracts/variables";

.pl-header-container {
  background-color: $primary-color;
  padding: 20px 0;
}

.pl-header {
  display: flex !important;
  align-items: center;
}

.pl-logo {
  margin-right: 30px;
}
