// -----------------------------------------------------------------------------
// This file contains all styles related to application's navigation.
// -----------------------------------------------------------------------------

@import "../abstracts/variables";

$triangle-size: 7px;

.pl-navigation {
  background: hsla(300, 52%, 19%, 1);
  border-bottom: 1px solid rgba(34, 36, 38, 0.10);
  height: 60px;

  .ui.secondary.inverted.pointing.menu {
    border: none;
  }

  .ui.secondary.pointing.menu .item.pl-menu-item {
    position: relative;
    text-align: center;
    align-self: center;
    margin: 0;
    border-bottom-width: 0;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 800;
    display: inline-block;
  }

  .ui.secondary.inverted.pointing.menu .active.pl-menu-item {
    border: none;

    span {
      width: 100%;
    }

    span::after {
      bottom: 0;
      left: 50%;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top: none;
      border-left: $triangle-size solid transparent;
      border-right: $triangle-size solid transparent;
      border-bottom: $triangle-size solid white;
      margin-left: -1 * $triangle-size;
    }
  }

}
