$list-item-border-color: #dedede;

.pl-results-filter {
  margin-bottom: 36px;
}

.pl-results-list {
  margin: 0;
  padding: 0;
}

.pl-results-list-item {
  list-style: none;
}

.pl-results-list .pl-results-list-item {
  border-bottom: 1px solid $list-item-border-color;

  &:first-child {
    border-top: 1px solid $list-item-border-color;
  }
}

.pl-results-list-title {
  font-weight: bold;
  width: 100%;
  padding: 15px 0;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
}
