// -----------------------------------------------------------------------------
// This file contains all styles related to standings table component.
// -----------------------------------------------------------------------------

$table-border-color: #e8e8e8;

.pl-standings-table {
  width: 100%;
  box-shadow: none;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;

  th {
    color: #666;
    font-size: 12px;
    vertical-align: middle;
  }

  tbody > tr:first-child > td {
    border-top: 1px solid $table-border-color;
  }

  td {
    border-bottom: 1px solid $table-border-color;
  }

  td,
  th {
    padding: 8px 10px;
  }

  .pl-number-column,
  .pl-pos-column {
    width: 6%;
    max-width: 55px;
  }

  .pl-team-column {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    text-align: left;
  }

  @media (max-width: 575px) {
    td,
    th {
      padding: 7px 8px;
    }

    .pl-team-column {
      width: 25%;
    }

    .pl-pos-column {
      width: 8%;
      max-width: 60px;
    }
  }

  .pl-standings-emblem {
    display: flex;
    align-items: center;

    img {
      margin-left: -10px;
    }
  }
}
