// -----------------------------------------------------------------------------
// This file contains all styles related to standings table component.
// -----------------------------------------------------------------------------

@import "../abstracts/variables";

$table-border-color: #e8e8e8;

.pl-standings-table {
  width: 100%;
  box-shadow: none;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;

  th {
    color: #666;
    font-size: 12px;
    vertical-align: middle;
  }

  tbody > tr:first-child > td {
    border-top: 1px solid $table-border-color;
  }

  td {
    border-bottom: 1px solid $table-border-color;
  }

  td,
  th {
    padding: 8px 10px;
  }

  .pl-number-column,
  .pl-pos-column {
    max-width: 55px;
  }

  .pl-team-column {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    text-align: left;
  }

  .pl-standings-emblem {
    display: flex;
    align-items: center;

    img {
      margin-left: -10px;
    }
  }

  @media (max-width: $screen-xs-max) {
    td,
    th {
      font-size: 13px;
      padding: 8px 6px;
    }

    .pl-number-column,
    .pl-pos-column {
      width: 48px;
      max-width: 48px;
    }
  }

  @media (max-width: $screen-xs) {
    td,
    th {
      font-size: 13px;
      padding: 8px 5px;
    }

    .pl-number-column {
      width: 32px;
      max-width: 32px;
    }

    .pl-pos-column {
      width: 38px;
      max-width: 38px;
      padding-left: 0;
    }

    .pl-standings-emblem {
      img {
        display: none !important;
      }
    }
  }

}
