// -----------------------------------------------------------------------------
// This file contains all styles related to "404 Not Found" page.
// -----------------------------------------------------------------------------

.pl-not-found-page {
  .ui.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0;
  }

  img.ui.image {
    opacity: 0.1;
  }

  .ui.header {
    margin: 20px 0;
    color: #ddd;
  }
}