// -----------------------------------------------------------------------------
// This file contains all styles related to match results page.
// -----------------------------------------------------------------------------

@import "../abstracts/variables";

$list-item-border-color: #efefef;

.pl-results-filter {
  margin-bottom: 36px;
}

.pl-results-list {
  margin: 0 auto;
  padding: 0;
  width: 100%
}

.pl-results-list-item {
  list-style: none;
}

.pl-results-list-title {
  width: 100%;
  padding: 0;
  margin: 14px 0 0;
  text-align: center;
  color: rgba(0,0,0,.85);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .05em;
}
