// -----------------------------------------------------------------------------
// This file contains all styles related to team page.
// -----------------------------------------------------------------------------

.pl-team-page-header {
  display: flex;
  align-items: center;

  .pl-team-emblem {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
  }

  .pl-team-details {
    .team-name {
      font-size: 35px;
      font-weight: bold;
    }
  }

}